

/*上部メニュー欄*/
* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  }
  body { overflow: scroll; }
  body{
   width: auto;
    padding:0px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
  }
  
  h1{
    color: #222222;
    font-weight:100;
  }
  
  .btn{
    color:rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.5);
    padding:10px 20px;
    font-size:40px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
  }


  .sp .btn{
    color:rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.5);
    padding:10px 20px;
    font-size:10px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
  }
  
  .btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px 20px; 
    color:#1b1b1b;
  }
  
  .footer{
    font-size:8px;
    color:#fff;
    clear:both;
    display:block;
    letter-spacing:5px;
    border:1px solid #fff;
    padding:5px;
    text-decoration:none;
    width:210px;
    margin:auto;
    margin-top:400px;
  }

/*上部メニュー欄ここまで*/

    /*PCとスマホ版の切り替えるPG*/

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 1200px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
/*ここまで*/

  .sp img {
    width: 100%;
}
.sp img{
    width: 100%;
}
.pc img {
    width: 50%;
    margin: 1px;
}
.pc .kyatti img {
    width: 70%;
}
.sp .kyatti img {
    width: 100%;
}

.pc .soudan img {
    width: 50%;
}


.slider_fade {
    position: relative;
    
}

.slider_fade img {
    width: 50%;
    margin: 0% auto;
    display:block;
}
.slider_fade > li {
    position: absolute;
    list-style: none;
    visibility: hidden;
    animation: anime_slider_fade 12s 0s infinite;
}
.slider_fade > li:nth-of-type(2) {
    animation-delay: 4s;
}
.slider_fade > li:nth-of-type(3) {
    animation-delay: 8s;
}
 
@keyframes anime_slider_fade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
    }
    48.3% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.slider_fade img {
    width: 50%;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: block;
}
.sp .slider_fade img {
    width: 100%;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: block;
}






















.original-button {
    margin: auto;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    line-height: 2;
    text-decoration: none;
    color: #404040;
    font-size: 40px;
    border-radius: 9px;
    width: 50%;
    height: 70px;
    font-weight: bold;
    border: 3px solid #343434;
    transition: 0.3s;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
    background-color: #ffa500;
  }
  
  .original-button:hover {
    transform: scale(1.05);
  }





























/*モーダルウィンドウ*/

/*--------------------------------------
  モーダル表示上から_002
--------------------------------------*/
.modal_wrap input {
    display: none;
  }
  
  .modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.0001s, transform 0s 0.001s;
    transform: scale(0);
  }
  
  .modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .modal_content {
      align-self: center;
      width: 60%;
      padding: 30px 30px 15px;
      box-sizing: border-box;
      background: #fff;
      line-height: 1.4em;
      transition: 0.5s;
  }
  
  .modal_content p {
    padding-top: 0;
  }
  
  .close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal_wrap input:checked ~ .modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
  }
  
  .modal_wrap input:checked ~ .modal_overlay .modal_content {
    transform: translateY(20px);
  }
  
  .open_button {
    color:rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.5);
    padding:10px 20px;
    font-size:40px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;

    
    position: fixed;
    bottom: 15px; 
    right: 10px;
    padding: 1% 1%;


      width: 65px;
      height:65px;
      background: #444444;
      border-radius: 50%;
    
  }
  .open_button:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px 20px;
    color:#1b1b1b;
  }
  
  .open-button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*下に動く*/
  
  }
  
  /*アイコンを表示*/
  .open-button:after {
  font-family: "Font Awesome 5 Free";
    content: "\f2d0";
      padding-left: 8px;
  }
  
  /*ラベルホバー時*/
  .open-button:hover {
    color: #FFFFFF;
    background-color: #4f96f6;
    transition: .6s;
  }
  open_button
  .modal_title2 {
    font-size: 1.5em;
      position: relative;
      overflow: hidden;
    padding-bottom: 10px;
    margin-top:0;
    margin-bottom: 0;
  }
  
  .modal_title2::before,
  .modal_title2::after{
      content: "";
      position: absolute;
      bottom: 0;
  }

.img0 img {
    width: 50%;
}
/*モーダルウィンドウここまで*/
